body {
  font-family: 'Montserrat', sans-serif;
}

.main {
  display: grid;
  grid-template-columns: 500px 500px;
  padding-left: 200px;
}


.meme {
  position: relative;
  width: 400px;
  color: white;
  align-self: start;
  top: 15%;
  /* display: table; */    
}

.meme img {
  width: 100%;
  height: auto;
}

.topText { 
  position: absolute; 
  top: 2%; 
  left: 20px; 
  font-size: 2.5rem;
  margin: auto;
  padding: 20px;
  overflow-y: hidden;
  
}

.bottomText { 
  position: absolute; 
  bottom: 2%; 
  left: 20px; 
  width: 100%; 
  font-size: 2.5rem;
  margin: auto;
}

input {
   width: 400px;
   height: 40px;
   font-family: 'Montserrat', sans-serif;
   padding-left: 10px;
}


.typeColor, button {
  display: inline-block;
  border-radius: 10px;
  background: black;
  width: 70px;
  height: 30px;
  color: aliceblue;
  border: none;
}

input[type="color"] {
  border: none;
  opacity: 0;
}

button {
  border-radius: 10px;
  background: black;
  width: 90px;
  height: 40px;
  color: aliceblue;
  border: none; 
  font-size: 1rem;
}